@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --animate-slide-in: slide-in 1s ease-in-out;
  --animate-flip-vertical: flip-vertical 1s ease-in-out;
  --animate-delay: delay 6s ease-in-out;
}
body {
  font-family: "Merriweather", serif;
}
@keyframes slide-in {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(-7px);
    opacity: 1;
  }
}

@keyframes flip-vertical {
  0% {
    transform: rotateX(-70deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes delay {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
